@{
    Layout = "_Layout";
    ViewBag.Tittle = "Notificação";

    string mensagem = ViewBag.Mensagem;
    string link = ViewBag.Link != null ? $"{ViewBag.Link}" : "";
}
<div class="container">
    <div class="col card m-5 p-4 gap-2 bg-light shadow bg-body rounded">
        <div class="d-flex flex-column text-center">

            <h3>@mensagem</h3>

            <a @link id="notification" class="btn btn-secondary px-5 mt-5">
                <i class="bi bi-arrow-return-left me-1"></i>
                Voltar
            </a>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        console.log("Deu certo");
    document.addEventListener("DOMContentLoaded", function() {

            setTimeout(function() {
               location.href = '@link';
            }, 3000);
        
    });

    </script>
}

