@using Rubinho_s_Bar___Tchelos.Dominio.MóduloMesa
@{
    Layout = "_Layout";
    Mesa mesa = ViewBag.Mesa;

    ViewBag.Tittle = "Exclusão de Mesa";
}
<div class="container">
    <div class="col card m-5 p-4 gap-2 bg-light shadow bg-body rounded">

        <div class="d-flex flex-column justify-content-center">
                <label class="fs-5"><strong>Mesa:</strong> @mesa.NumeroDaMesa</label>

                <label><strong>Id:</strong> [@mesa.Id]</label>
                <label><strong>Status:</strong> @(mesa.Status ? "Ocupada" : "Desocupada")</label>

                @if (mesa.Comandas.Count > 0)
                {
                    <div class="mt-3">
                        <h5>Contas relacionadas à mesa:</h5>

                        <ul>
                            @foreach (var conta in mesa.Comandas)
                            {
                                <li>@conta.ToString()</li>
                            }
                        </ul>
                    </div>
                }

                <p class="text-bg-danger p-3 rounded fs-5 mt-2">
                    Deseja realmente confirmar a exclusão? Não será possível recuperar os dados excluídos posteriormente.
                </p>

                <form class="mt-2 d-grid gap-2 d-md-block" action="/mesa/excluir/@mesa.Id" method="post">
                    <button class="btn btn-danger px-5">
                        <i class="bi bi-trash-fill me-1"></i>
                        Excluir
                    </button>

                    <a class="btn btn-secondary px-5" href="/mesa/listar">
                        <i class="bi bi-arrow-return-left me-1"></i>
                        Voltar
                    </a>

                </form>
        </div>
    </div>
</div>